footer {
    padding-top :1rem;
    padding-bottom: 1rem;
    background-color: #f1f1f1;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

span {
    color: orangered;
}